{% extends "shop/base.html" %}

{% block title %}
  Datos de la orden
{% endblock %}

{% block content %}
  {%if cart %}
  <h1>Datos de la orden</h1>

  <div class="order-info">
    <h3>Tu orden</h3>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.name }}
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}
    </ul>
    <p>Total: ${{ cart.get_total_price }}</p>
  </div>

  <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="Entregar a domicilio" name="home_delivery"></p>
    {% csrf_token %}
    <p><input type="submit" value="Recoger en tienda" name="store_pickup"></p>
    {% csrf_token %}
  </form>
  {% else %}
  <p>Por favor, ingresa productos a tu carrito para confirmar la compra.</p>
  {% endif %}
{% endblock %}